body{
    margin: 0;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{ /*Біла основа*/
    background-color: white;

    width: 880px;
    border-radius: 24px;

    margin: 80px 0;
}

/*IMAGE*/
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;
}
.image-omelette{
    width: 800px;
    border-radius: 14px;
}

/*INFORMATION*/
.information-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 40px 40px 40px;
}

/*Preparation time list*/
.preparation-time-container{
    background-color: hsl(330, 100%, 98%);
    width: 100%;
    border-radius: 14px;
}
.preparation-time-menu{
    margin: 10px 0 20px 48px;
    padding: 0;
}

/*FONTS*/
h1, h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;

    padding: 0;
}
h1{
    font-size: 34px;
    color: black;

    margin: 0;
}
h2{
    font-size: 28px;
    color: hsl(14, 45%, 36%);

    margin: 24px 0 10px;
}
h3{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;

    color: hsl(332, 51%, 32%);

    margin: 20px 0 0 24px;
    padding: 0;
}
.table, p, li{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    color: hsl(30, 10%, 34%);
}
p{ 
    margin: 20px 0 30px;
    padding: 0;
}
span{
    font-weight: bold;
    color: black;
}
ul, ol{
    margin: 0 24px 24px;
    padding: 0;
}
li{
    padding: 8px 16px;
    line-height: 150%;
}
.table-amount, ol li::marker {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-weight: bold;
    font-size: 16px;

    color: hsl(14, 45%, 36%);
}
ul li::marker {
    font-size: 12px;
    color: hsl(14, 45%, 36%);
}
.line {
  width: 100%;
  height: 1px;
  background-color: hsla(32, 10%, 34%, 0.208);
  margin: 0;
  padding: 0;
}

/*TABLE*/
.table-container{
    display: grid;
    grid-template-columns: 320px 1fr;
}
.table, .table-amount{
    margin: 16px 0 16px 24px;
}
.nutrition-text{
    margin: 16px 0 ;
    padding: 0;
}